{% extends 'partinfo/base.html' %}

{% load staticfiles %}
{% block title %}list{% endblock %}
{% block content-header %}客户价格{% endblock %}
{% block content %}
    <div class="row">
        {% csrf_token %}
        <div class="col-md-12">


            <div class="box box-widget">
                <div class="box-header">
                    <div class="col-md-1 ">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#model_customer_add"><i class="fa fa-plus"></i> 添加
                            </button>
                        </div>

                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="customer_price_list">
                        <tbody>
                        <tr>
                            <th>OEM</th>
                            <th>品名</th>
                            <th>客户</th>
                            <th>价格</th>
                            <th>操作</th>
                            <th>备注</th>
                            <th>修改时间</th>
                            <th>修改人</th>
                        </tr>


                        </tbody>
                    </table>
                </div>

                <div id="customer_price_list_bar">
                    {% include 'partinfo/page_bar.html' %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {

            getCustomerPriceInfo(1);

            $('#customer_price_list').delegate('.customer_price_delete', 'click', function () {
                deleteCustomerPriceInfo($(this).parent().find('input').val());
            });

            $('#customer_price_list').delegate('.customer_price_update', 'click', function () {
                var td = $(this).parents('.price_td');
                var price = td.prev().text();
                var desc = td.next().text();
                var id = td.find('input').val();
                updateCustomerPriceInfo(id, price, desc);

            });


        })


        function getCustomerPriceInfo(page) {
            $.ajax({
                type: "GET",

                url: "{% url 'partsinfo:customer_price_list' %}?page=" + page,

                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    showInfo(data.customer_price_list);
                    initPageBar(data.page_info,"customer_price_list_bar");


                }

            });
        }

        function showInfo(data) {

            var customer_price_list = $('#customer_price_list');
            $('#customer_price_list tr:not(:first)').empty();

            for (var index in data) {
                var html = '<tr class = "info_tr">\n' +
                    '                            <td>' + data[index][0] + '</td>\n' +
                    '                            <td>' + data[index][1] + '</td>\n' +
                    '                            <td>' + data[index][2] + '</td>\n' +
                    '                            <td class="price_td_pr"><i class="fa fa-dollar margin-r-5"></i>' + data[index][3] + '</td>\n' +
                    '                            <td class="price_td">\n' +
                    '                                <div class="btn-group">\n' +
                    '<input type="hidden" value="' + data[index][4] + '">\n' +
                    '                                    <div style="float: left;margin-right: 5px" class="btn-xs btn-info customer_price_update" >修改</div>\n' +
                    '                                    <div style="float: left" class="btn-xs btn-danger customer_price_delete" >删除</div>\n' +
                    '                                </div>\n' +
                    '                            </td>\n' +
                    '                            <td class="price_td_ne">' + data[index][5] + '</td>\n' +
                    '                            <td>' + data[index][6] + '</td>\n' +
                    '                            <td>' + data[index][7] + '</td>\n' +
                    '                        </tr>';

                customer_price_list.append(html);

            }


        }


    </script>


{% endblock %}
