{% extends 'partinfo/base.html' %}

{% load staticfiles %}
{% block menu_baseinfo %}active menu-open{% endblock %}
{% block menu_factory_list %}active{% endblock %}
{% block title %}工厂信息|{{ factory.name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-12 col-xs-12">
            <div class="box box-widget">
                <div class="box-header with-border">
                    <h3 class="box-title" style="line-height: initial">{{ factory.name }}</h3>
                </div>
                <!-- /.box-header -->

                <div class="box-body" style="padding-left: 0;padding-right: 0">


                        <div class="col-md-12 col-xs-12 col-xs-12" style="border-bottom: 1px solid #f4f4f4;margin-bottom: 10px">
                            <strong><i class="fa fa-file-text-o margin-r-5"></i> 备注</strong>
                            <p class="text-muted pull-right">
                                {{ factory.description }}
                            </p>

                        </div>
                        <div class="col-md-12 col-xs-12 col-xs-12" style="border-bottom: 1px solid #f4f4f4;margin-bottom: 10px" >
                            <strong><i class="fa fa-user-circle-o margin-r-5"></i> 联系人</strong>
                            <p class="text-muted pull-right">{{ factory.Contact }}</p>

                        </div>
                        <div class="col-md-12 col-xs-12 col-xs-12" style="border-bottom: 1px solid #f4f4f4;margin-bottom: 10px" >
                            <strong><i class="fa fa-phone margin-r-5"></i> 电话</strong>
                            <p class="text-muted pull-right">{{ factory.phone_num }}</p>

                        </div>
                        <div class="col-md-12 col-xs-12 col-xs-12" style="border-bottom: 1px solid #f4f4f4;margin-bottom: 10px">
                            <strong><i class="fa fa-qq margin-r-5"></i> QQ</strong>
                            <p class="text-muted pull-right">{{ factory.qq }}</p>

                        </div>
                        <div class="col-md-12 col-xs-12 col-xs-12" style="border-bottom: 1px solid #f4f4f4;margin-bottom: 10px" >
                            <strong><i class="fa fa-map-marker margin-r-5"></i> 地址</strong>
                            <p class="text-muted pull-right">{{ factory.address }}</p>

                        </div>




                </div>

                <div class="box-footer box-comments" style="padding: 0">
                    <span class=" text-muted pull-right" style="margin-right: 10px"><i
                            class="fa fa-clock-o"> {{ factory.last_change_date|date:"Y-m-d" }}</i></span>
                    <span class=" text-muted pull-right" style="margin-right: 10px"><i
                            class="fa fa-user-plus"> {{ factory.last_change_user.first_name }}</i></span>

                </div>
                <div class="box-footer">
                    <div class="btn-xs btn-danger pull-right" id="btn_factory_delete"><i class="fa fa-trash-o"></i>
                    </div>
                    <div class="btn-xs btn-primary pull-right" data-toggle="modal"
                         data-target="#model_factory_update" style="margin-right: 5px"><i
                            class="fa fa-pencil-square-o"></i></div>

                </div>

                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-lg-9 col-md-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="text-muted" style="margin: 0 0 0;float: left"><i
                            class="fa fa-truck margin-r-5"></i>工厂价格
                    </div>
                    <div class="col-md-6 col-xs-9 pull-right">
                        <div class="input-group input-group-sm">
                                        <span class="input-group-btn">
                                            <div class="btn btn-default" data-toggle="modal"
                                                 data-target="#model_factory_price_add"
                                            ><i
                                                    class="fa fa-plus"></i></div>
                                        </span>
                            <span class="input-group-btn">
                              <div id="btn_search_parts_txt_clear" class="btn btn-default btn-flat"><i
                                      class="fa fa-close"></i> </div>
                              </span>
                            <input type="text" id="search_parts_key_word" name="search_key_word" placeholder="产品..."
                                   class="form-control">
                            <span class="input-group-btn">
                              <div class="btn btn-default btn-flat" id="btn_parts_search"><i
                                      class="fa fa-search"></i> </div>
                              </span>
                        </div>
                    </div>
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="factory_price_list">
                        <tbody>
                        <tr>
                            <th>OEM</th>
                            <th>中文品名</th>
                            <th>价格</th>
                            <th>操作</th>
                            <th>备注</th>
                            <th>修改日期</th>
                            <th>修改人</th>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div id="factory_price_list_bar">
                    {% include "partinfo/page_bar.html" %}
                </div>
                <!-- /.box-body -->
            </div>


        </div>


    </div>
    <div class="modal fade" id="model_factory_price_add" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">添加信息</h4>
                </div>
                <div class="modal-body">

                    <form action="#" method="post" id="add_factory_price_form">
                        {% csrf_token %}

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>产品</label>
                                <select class="form-control select2" id="select_parts" name="select_parts"
                                        style="width: 100%;">
                                    <option></option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>工厂</label>

                                <select class="form-control" name="select_factory" readonly="readonly">
                                    <option value="{{ factory.id }}">{{ factory.name }}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>价格</label>
                                <input type="number" min="0.0" step="0.1" class="form-control" name="num_price"
                                       id="num_factory_price"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>描述</label>
                                <textarea class="form-control" rows="4" name="txt_area_factory_price_desc"
                                          id="txt_area_factory_price_desc"
                                          placeholder="....."></textarea>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer no-border">
                    <button type="button" class="btn btn-default pull-left" id="btn_factory_price_cancel"
                            data-dismiss="modal">
                        <i class="fa fa-remove "> 取消</i></button>
                    <button type="submit" class="btn btn-primary" id="btn_factory_price_save"><i class="fa fa-check">
                        保存</i>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="model_factory_update" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">修改信息</h4>
                </div>
                <div class="modal-body">

                    <form action="#" method="post" id="update_factory_form">
                        {% csrf_token %}
                        <input type="hidden" value="{{ factory.id }}" name="id">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label>工厂名称</label>
                                <input type="text" class="form-control" name="txt_factory_name"
                                       id="txt_factory_name"
                                       value="{{ factory.name }}">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <label>联系人</label>
                                <input type="text" class="form-control" name="txt_factory_contact"
                                       id="txt_factory_contact"
                                       value="{{ factory.Contact }}">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>电话</label>
                                <input type="text" class="form-control" name="txt_factory_phone_num"
                                       id="txt_factory_phone_num"
                                       value="{{ factory.phone_num }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>QQ</label>
                                <input type="text" class="form-control" name="txt_factory_qq"
                                       id="txt_factory_qq"
                                       value="{{ factory.qq }}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>联系地址</label>
                                <input type="text" class="form-control" name="txt_factory_address"
                                       id="txt_factory_address"
                                       value="{{ factory.address }}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>备注</label>
                                <textarea class="form-control" rows="4" name="txt_area_factory_desc"
                                          id="txt_area_factory_desc"
                                          placeholder="....."> {{ factory.description }}</textarea>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" id="btn_factory_cancel"
                            data-dismiss="modal">
                        <i class="fa fa-remove "> 取消</i></button>
                    <button type="submit" class="btn btn-primary" id="btn_factory_update"><i class="fa fa-check">
                        保存</i>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/parts_factory_customer_model_select2.js' %}"></script>
    <script>

        $(document).ready(function () {
            getFactoryPriceInfo(1);
            $('#btn_parts_search').click(function () {
                getFactoryPriceInfo(1);
            })

            $('#btn_search_parts_txt_clear').click(function () {

                $('#search_parts_key_word').val("");
                getFactoryPriceInfo(1);
            })

            $("#btn_factory_delete").click(function () {

                $.confirm({
                    title: '提示',
                    content: '确定删除信息?',
                    animation: 'top',
                    closeAnimation: 'top',
                    animateFromElement: false,
                    buttons: {
                        cancel: {
                            text: '取消',
                        },
                        confirm: {
                            text: '删除',
                            btnClass: 'btn-danger',
                            action: function () {
                                $.ajax({
                                    type: "POST",
                                    headers: {"X-CSRFtoken": $.cookie('csrftoken')},
                                    url: "{% url 'partsinfo:delete_factory_info' %}",
                                    data: {'id': "{{ factory.id }}"},

                                    success: function (data) {

                                        if (data == 'success') {
                                            window.location.reload();
                                        }
                                        else if (data == "object_not_found") {

                                            toastr.error('失败 没有找到删除对象');
                                        }

                                        else {
                                            toastr.error('没有权限');
                                        }

                                    }

                                });
                            }
                        }

                    }
                });
            })

            $("#btn_factory_update").click(function () {
                var txt_factory_name = $("#txt_factory_name");
                if (txt_factory_name.val() == "") {
                    txt_factory_name.parent().addClass("has-error");
                    toastr.error('选择工厂！');
                    return;
                }
                var txt_factory_contact = $("#txt_factory_contact");
                if (txt_factory_contact.val() == "") {
                    txt_factory_contact.val('---');
                }
                var txt_factory_qq = $("#txt_factory_qq");
                if (txt_factory_qq.val() == "") {
                    txt_factory_qq.val('xxxxxxxxx')
                }
                var txt_factory_phone_num = $("#txt_factory_phone_num");
                if (txt_factory_phone_num.val() == "") {
                    txt_factory_phone_num.val('xxx-xxxx-xxxx');
                }
                var txt_factory_address = $("#txt_factory_address");
                if (txt_factory_address.val() == "") {
                    txt_factory_address.val('暂无详细地址');
                }


                var update_factory_form = new FormData($("#update_factory_form")[0])

                $.ajax({
                    type: "POST",
                    url: "{% url 'partsinfo:update_factory_info' %}",
                    data: update_factory_form,
                    async: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {


                        if (data == "success") {
                            $('#model_factory_add').modal('hide');
                            window.location.reload();
                        }
                        else if (data == 'info_exist') {

                            toastr.error('工厂名称重复');
                            $("#txt_factory_name").parent().addClass("has-error");
                        }
                        else {
                            toastr.error('添加失败 未知错误');
                        }

                    }

                });


            });

            $('#model_factory_update').on('hide.bs.modal', function () {

                $("#update_factory_form")[0].reset();

                var txt_factory_name = $("#txt_factory_name");
                if (txt_factory_name.parent().hasClass("has-error")) {
                    txt_factory_name.parent().removeClass("has-error");
                }

            });
        })

        function getFactoryPriceInfo(page) {
            $.ajax({
                type: "GET",

                url: "{% url 'partsinfo:factory_price_list' %}?page=" + page + "&factory_id=" +{{ factory.id }} + "&parts_q=" + $('#search_parts_key_word').val(),

                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    showFactoryPriceList(data.factory_price_list);
                    initPageBar(data.page_info, "factory_price_list_bar",'getFactoryPriceInfo');

                }

            });
        }

        function showFactoryPriceList(data) {
            var factory_price_list = $('#factory_price_list');
            $('#factory_price_list tr:not(:first)').empty();

            for (var index in data) {
                var html = '<tr class = "info_tr">\n' +
                    '                            <td><a style="color: #444;"  href="/baseinfo/part_detail/' + data[index][0] + '">' + data[index][0] + '</td>\n' +
                    '                            <td>' + data[index][1] + '</td>\n' +
                    '                            <td class="price_td_pr"><i class="fa  fa-cny margin-r-5"></i>' + data[index][3] + '</td>\n' +
                    '                            <td class="price_td">\n' +
                    '                                <div class="btn-group">\n' +
                    '<input type="hidden" value="' + data[index][4] + '">\n' +
                    '                                    <div style="float: left;margin-right: 5px" class="btn-xs btn-primary factory_price_update" >修改</div>\n' +
                    '                                    <div style="float: left" class="btn-xs btn-danger factory_price_delete" >删除</div>\n' +
                    '                                </div>\n' +
                    '                            </td>\n' +
                    '                            <td class="price_td_ne">' + data[index][5] + '</td>\n' +
                    '                            <td>' + data[index][6] + '</td>\n' +
                    '                            <td>' + data[index][7] + '</td>\n' +
                    '                        </tr>';

                factory_price_list.append(html);

            }
        }

    </script>
{% endblock %}