{% extends 'partinfo/base.html' %}

{% load staticfiles %}
{% block title %}list{% endblock %}
{% block content-header %}工厂信息{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-md-12">

            <div class="box box-widget">
                <div class="box-body box-profile">
                    <div class="col-md-1 ">
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#model_factory_add"><i class="fa fa-plus"> 添加</i></button>
                    </div>
                    <div class="col-md-6 pull-right">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="查询条件....." class="form-control">
                                <span class="input-group-btn">
                              <button type="submit" class="btn btn-default btn-flat"><i
                                      class="fa fa-search"></i> </button>
                              </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="row" id="factory_list">
                {#                <div class="col-md-3 col-sm-6 col-xs-12">#}
                {#                    <div class="box box-widget">#}
                {#                        <div class="box-header with-border">#}
                {#                            <span class="info-box-text" style="font-size:16px;">河间市久久机电有限公司</span>#}
                {#                            <div class="box-tools">#}
                {#                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i#}
                {#                                        class="fa fa-times"></i></button>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="box-body">#}
                {#                            <div class="">#}
                {#                                <span class="text-muted"><i class="fa fa-users"></i> 张先生</span>#}
                {#                            </div>#}
                {#                            <div>#}
                {#                                <span class="text-muted"#}
                {#                                      style="display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><i#}
                {#                                        class="fa fa-tags"></i> 瑞安市塘下镇下湾村呈祥路35号</span>#}
                {#                            </div>#}
                {#                            <div>#}
                {#                                <span class="text-muted pull-left"><i class="fa fa-qq"></i> 909614012</span>#}
                {#                                <span class="text-muted pull-right"><i#}
                {#                                        class="fa fa-phone-square"></i> 135-5154-5661</span>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}


            </div>
            {% include 'partinfo/page_bar.html' %}
            <div class="modal fade" id="model_factory_add" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">添加信息</h4>
                        </div>
                        <div class="modal-body">

                            <form action="#" method="post" id="add_factory_form">
                                {% csrf_token %}
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label>工厂名称</label>
                                        <input type="text" class="form-control" name="txt_factory_name"
                                               id="txt_factory_name"
                                               placeholder="">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label>联系人</label>
                                        <input type="text" class="form-control" name="txt_factory_contact"
                                               id="txt_factory_contact"
                                               placeholder="">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>电话</label>
                                        <input type="text" class="form-control" name="txt_factory_phone_num"
                                               id="txt_factory_phone_num"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>QQ</label>
                                        <input type="text" class="form-control" name="txt_factory_qq"
                                               id="txt_factory_qq"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>联系地址</label>
                                        <input type="text" class="form-control" name="txt_factory_address"
                                               id="txt_factory_address"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>备注</label>
                                        <textarea class="form-control" rows="4" name="txt_area_factory_desc"
                                                  id="txt_area_factory_desc"
                                                  placeholder="....."></textarea>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" id="btn_factory_cancel"
                                    data-dismiss="modal">
                                <i class="fa fa-remove "> 取消</i></button>
                            <button type="submit" class="btn btn-primary" id="btn_factory_save"><i class="fa fa-check">
                                保存</i>
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>


        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            getPageInfo(1);

            $("#btn_factory_save").click(function () {
                var txt_factory_name = $("#txt_factory_name");
                if (txt_factory_name.val() == "") {
                    txt_factory_name.parent().addClass("has-error");
                    toastr.error('工厂名称不能为空！');
                    return;
                }
                var txt_factory_contact = $("#txt_factory_contact");
                if (txt_factory_contact.val() == "") {
                    txt_factory_contact.val('---');
                }
                var txt_factory_qq = $("#txt_factory_qq");
                if (txt_factory_qq.val() == "") {
                    txt_factory_qq.val('xxxxxxxxx')
                }
                var txt_factory_phone_num = $("#txt_factory_phone_num");
                if (txt_factory_phone_num.val() == "") {
                    txt_factory_phone_num.val('xxx-xxxx-xxxx');
                }
                var txt_factory_address = $("#txt_factory_address");
                if (txt_factory_address.val() == "") {
                    txt_factory_address.val('暂无详细地址');
                }



                var factory_form_data = new FormData($("#add_factory_form")[0])

                $.ajax({
                    type: "POST",
                    url: "{% url 'partsinfo:add_factory_info' %}",
                    data: factory_form_data,
                    async: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {


                        if (data == "success") {
                            $('#model_factory_add').modal('hide');
                            toastr.success('添加成功！2333');
                            getPageInfo(1);
                        }
                        else if (data == 'info_exist') {

                            toastr.error('工厂名称重复');
                            $("#txt_factory_name").parent().addClass("has-error");
                        }
                        else {
                            toastr.error('添加失败 未知错误');
                        }

                    }

                });


            });

            $('#model_factory_add').on('hide.bs.modal', function () {

                $("#add_factory_form")[0].reset();

                var txt_factory_name = $("#txt_factory_name");
                if (txt_factory_name.parent().hasClass("has-error")) {
                    txt_factory_name.parent().removeClass("has-error");
                }

            });

        })

        function getPageInfo(page) {

            console.log(new Date().getMilliseconds());
            $.ajax({
                type: "GET",

                url: "{% url 'partsinfo:factory_list' %}?page=" + page,

                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(new Date().getMilliseconds());
                    console.log(data);

                    showFactoryInfo(data.factory_list);
                    initPageBar(data.page_info);
                    console.log(new Date().getMilliseconds());

                }

            });
        }

        function showFactoryInfo(list) {
            var factory_list = $("#factory_list");
            factory_list.empty();
            for (var index in list) {
                var html = '<div class="col-md-3 col-sm-6 col-xs-12">\
                                         <div class="box box-widget">\
                                            <div class="box-header with-border">\
                                                 <span class="info-box-text" style="font-size:16px;">' + list[index].fields.name + '</span>\
                                                 <div class="box-tools">\
                                                     <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>\
                                                 </div>\
                                             </div>\
                                             <div class="box-body">\
                                                 <div class="">\
                                                     <span class="text-muted"><i class="fa fa-users"></i> ' + list[index].fields.Contact + '</span>\
                                                 </div>\
                                                 <div>\
                                                     <span class="text-muted" style="display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><i class="fa fa-tags"></i> ' + list[index].fields.address + '</span>\
                                                 </div>\
                                                 <div>\
                                                     <span class="text-muted pull-left"><i class="fa fa-qq"></i> ' + list[index].fields.qq + '</span>\
                                                     <span class="text-muted pull-right"><i class="fa fa-phone-square"></i> ' + list[index].fields.phone_num + '</span>\
                                                 </div>\
                                             </div>\
                                         </div>\
                                     </div>';
                factory_list.append(html);

            }
        }


    </script>
{% endblock %}