{% extends 'partinfo/base.html' %}

{% load staticfiles %}
{% block title %}list{% endblock %}
{% block content-header %}工厂价格{% endblock %}
{% block content %}
    <div class="row">
        {% csrf_token %}
        <div class="col-md-12">


            <div class="box box-widget">
                <div class="box-header">
                    <div class="col-md-1 ">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#model_factory_price_add"><i class="fa fa-plus"></i> 添加
                            </button>
                        </div>

                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="factory_price_list">
                        <tbody>
                        <tr>
                            <th>OEM</th>
                            <th>品名</th>
                            <th>工厂</th>
                            <th>价格</th>
                            <th>操作</th>
                            <th>备注</th>
                            <th>修改时间</th>
                            <th>修改人</th>
                        </tr>


                        </tbody>
                    </table>
                </div>

                <div id="factory_price_list_bar">
                    {% include 'partinfo/page_bar.html' %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="modal fade" id="model_factory_price_add" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">添加信息</h4>
                </div>
                <div class="modal-body">

                    <form action="#" method="post" id="add_factory_price_form">
                        {% csrf_token %}

                        <div class="col-md-7">
                            <div class="form-group">
                                <label>产品</label>
                                <select class="form-control select2" id="select_parts" name="select_parts"
                                        style="width: 100%;">
                                    <option></option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>工厂</label>
                                <select class="form-control select2" id="select_factory" name="select_factory"
                                        style="width: 100%;">
                                    <option></option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>价格</label>
                                <input type="number" min="0.0" step="0.1" class="form-control" name="num_price"
                                       id="num_factory_price"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>描述</label>
                                <textarea class="form-control" rows="4" name="txt_area_factory_price_desc"
                                          id="txt_area_factory_price_desc"
                                          placeholder="....."></textarea>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer no-border">
                    <button type="button" class="btn btn-default pull-left" id="btn_factory_price_cancel"
                            data-dismiss="modal">
                        <i class="fa fa-remove "> 取消</i></button>
                    <button type="submit" class="btn btn-primary" id="btn_factory_price_save"><i class="fa fa-check">
                        保存</i>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



{% endblock %}

{% block javascript %}
    <script src="{% static 'js/parts_factory_customer_model_select2.js' %}"></script>

    <script>
        $(document).ready(function () {

            getFactoryPriceInfo(1);


        })


        function getFactoryPriceInfo(page) {
            $.ajax({
                type: "GET",

                url: "{% url 'partsinfo:factory_price_list' %}?page=" + page,

                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    showInfo(data.factory_price_list);
                    initPageBar(data.page_info, "factory_price_list_bar",'getFactoryPriceInfo');


                }

            });
        }

        function showInfo(data) {

            var factory_price_list = $('#factory_price_list');
            $('#factory_price_list tr:not(:first)').empty();

            for (var index in data) {
                var html = '<tr class = "info_tr">\n' +
                    '                            <td>' + data[index][0] + '</td>\n' +
                    '                            <td>' + data[index][1] + '</td>\n' +
                    '                            <td>' + data[index][2] + '</td>\n' +
                    '                            <td class="price_td_pr"><i class="fa  fa-cny margin-r-5"></i>' + data[index][3] + '</td>\n' +
                    '                            <td class="price_td">\n' +
                    '                                <div class="btn-group">\n' +
                    '<input type="hidden" value="' + data[index][4] + '">\n' +
                    '                                    <div style="float: left;margin-right: 5px" class="btn-xs btn-primary factory_price_update" >修改</div>\n' +
                    '                                    <div style="float: left" class="btn-xs btn-danger factory_price_delete" >删除</div>\n' +
                    '                                </div>\n' +
                    '                            </td>\n' +
                    '                            <td class="price_td_ne">' + data[index][5] + '</td>\n' +
                    '                            <td>' + data[index][6] + '</td>\n' +
                    '                            <td>' + data[index][7] + '</td>\n' +
                    '                        </tr>';

                factory_price_list.append(html);

            }


        }


    </script>


{% endblock %}
