{% extends 'partinfo/base.html' %}

{% load staticfiles %}
{% block title %}list{% endblock %}
{% block content-header %}工厂信息{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-md-12">

            <div class="box box-widget">
                <div class="box-body box-profile">
                    <div class="col-md-1 ">
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#model_parts_add"><i class="fa fa-plus"> 添加</i></button>
                    </div>
                    <div class="col-md-6 pull-right">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="查询条件....." class="form-control">
                                <span class="input-group-btn">
                              <button type="submit" class="btn btn-default btn-flat"><i
                                      class="fa fa-search"></i> </button>
                              </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box-widget">
                        <div class="box-header with-border">


                            <span class="info-box-text" style="font-size:16px;">河间市久久机电有限公司</span>

                            <div class="box-tools">

                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="">
                                <span class="text-muted"><i class="fa fa-users"></i> 张先生</span>
                            </div>
                            <div class="">
                                <span class="text-muted"
                                      style="display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><i class="fa fa-tags"></i> 瑞安市塘下镇下湾村呈祥路35号</span>
                            </div>
                            <div class="">
                                <span class="text-muted pull-left"><i class="fa fa-qq"></i> 909614012</span>
                                <span class="text-muted pull-right"><i class="fa fa-phone-square"></i> 135-5154-5661</span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box-widget">
                        <div class="box-header with-border">


                            <span class="info-box-text" style="font-size:16px;">河间市久久机电有限公司</span>

                            <div class="box-tools">

                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="">
                                <span class="text-muted"><i class="fa fa-users"></i> 张先生</span>
                            </div>
                            <div class="">
                                <span class="text-muted"
                                      style="display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><i class="fa fa-tags"></i> 瑞安市塘下镇下湾村呈祥路35号</span>
                            </div>
                            <div class="">
                                <span class="text-muted pull-left"><i class="fa fa-qq"></i> 909614012</span>
                                <span class="text-muted pull-right"><i class="fa fa-phone-square"></i> 135-5154-5661</span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box-widget">
                        <div class="box-header with-border">


                            <span class="info-box-text" style="font-size:16px;">河间市久久机电有限公司</span>

                            <div class="box-tools">

                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="">
                                <span class="text-muted"><i class="fa fa-users"></i> 张先生</span>
                            </div>
                            <div class="">
                                <span class="text-muted"
                                      style="display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><i class="fa fa-tags"></i> 瑞安市塘下镇下湾村呈祥路35号</span>
                            </div>
                            <div class="">
                                <span class="text-muted pull-left"><i class="fa fa-qq"></i> 909614012</span>
                                <span class="text-muted pull-right"><i class="fa fa-phone-square"></i> 135-5154-5661</span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box-widget">
                        <div class="box-header with-border">


                            <span class="info-box-text" style="font-size:16px;">河间市久久机电有限公司</span>

                            <div class="box-tools">

                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="">
                                <span class="text-muted"><i class="fa fa-users"></i> 张先生</span>
                            </div>
                            <div class="">
                                <span class="text-muted"
                                      style="display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><i class="fa fa-tags"></i> 瑞安市塘下镇下湾村呈祥路35号</span>
                            </div>
                            <div class="">
                                <span class="text-muted pull-left"><i class="fa fa-qq"></i> 909614012</span>
                                <span class="text-muted pull-right"><i class="fa fa-phone-square"></i> 135-5154-5661</span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box-widget">
                        <div class="box-header with-border">


                            <span class="info-box-text" style="font-size:16px;">河间市久久机电有限公司</span>

                            <div class="box-tools">

                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="">
                                <span class="text-muted"><i class="fa fa-users"></i> 张先生</span>
                            </div>
                            <div class="">
                                <span class="text-muted"
                                      style="display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><i class="fa fa-tags"></i> 瑞安市塘下镇下湾村呈祥路35号</span>
                            </div>
                            <div class="">
                                <span class="text-muted pull-left"><i class="fa fa-qq"></i> 909614012</span>
                                <span class="text-muted pull-right"><i class="fa fa-phone-square"></i> 135-5154-5661</span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box-widget">
                        <div class="box-header with-border">


                            <span class="info-box-text" style="font-size:16px;">河间市久久机电有限公司</span>

                            <div class="box-tools">

                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="">
                                <span class="text-muted"><i class="fa fa-users"></i> 张先生</span>
                            </div>
                            <div class="">
                                <span class="text-muted"
                                      style="display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><i class="fa fa-tags"></i> 瑞安市塘下镇下湾村呈祥路35号</span>
                            </div>
                            <div class="">
                                <span class="text-muted pull-left"><i class="fa fa-qq"></i> 909614012</span>
                                <span class="text-muted pull-right"><i class="fa fa-phone-square"></i> 135-5154-5661</span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box-widget">
                        <div class="box-header with-border">


                            <span class="info-box-text" style="font-size:16px;">河间市久久机电有限公司</span>

                            <div class="box-tools">

                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="">
                                <span class="text-muted"><i class="fa fa-users"></i> 张先生</span>
                            </div>
                            <div class="">
                                <span class="text-muted"
                                      style="display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><i class="fa fa-tags"></i> 瑞安市塘下镇下湾村呈祥路35号</span>
                            </div>
                            <div class="">
                                <span class="text-muted pull-left"><i class="fa fa-qq"></i> 909614012</span>
                                <span class="text-muted pull-right"><i class="fa fa-phone-square"></i> 135-5154-5661</span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box-widget">
                        <div class="box-header with-border">


                            <span class="info-box-text" style="font-size:16px;">河间市久久机电有限公司</span>

                            <div class="box-tools">

                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="">
                                <span class="text-muted"><i class="fa fa-users"></i> 张先生</span>
                            </div>
                            <div class="">
                                <span class="text-muted"
                                      style="display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><i class="fa fa-tags"></i> 瑞安市塘下镇下湾村呈祥路35号</span>
                            </div>
                            <div class="">
                                <span class="text-muted pull-left"><i class="fa fa-qq"></i> 909614012</span>
                                <span class="text-muted pull-right"><i class="fa fa-phone-square"></i> 135-5154-5661</span>
                            </div>
                        </div>


                    </div>
                </div>


            </div>


        </div>
    </div>

{% endblock %}