{% extends 'partinfo/base.html' %}

{% load staticfiles %}
{% block title %}list{% endblock %}
{% block content-header %}{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-md-12">
            <div class="box box-widget">
                <div class="box-header with-border">


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-lg-5 col-sm-12 col-xs-12">
                        <div class="box-body">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                {#                                <ol class="carousel-indicators">#}
                                {#                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>#}
                                {#                                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>#}
                                {#                                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>#}
                                {#                                </ol>#}
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="../../../media/{{ part.img }}"
                                             alt="First slide">

                                        <div class="carousel-caption">

                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../../../media/{{ part.img }}"
                                             alt="Second slide">

                                        <div class="carousel-caption">

                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../../../media/{{ part.img }}"
                                             alt="Third slide">

                                        <div class="carousel-caption">

                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="fa fa-angle-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-6">
                        <div class="box-body">


                            <p class="text-muted" style="margin: 0 0 0"><i class="fa fa-book margin-r-5"></i>OEM
                            </p>
                            <strong>
                                {{ part.oem }}

                            </strong>

                            <hr>

                            <p class="text-muted" style="margin: 0 0 0"><i class="fa fa-tags margin-r-5"></i>中文品名
                            </p>
                            <strong>
                                {{ part.cn_name }}

                            </strong>

                            <hr>


                            <p class="text-muted" style="margin: 0 0 0"><i class="fa fa-tags margin-r-5"></i>英文品名
                            </p>
                            <strong>
                                {{ part.en_name }}

                            </strong>

                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-6">
                        <div class="box-body">
                            <p class="text-muted" style="margin: 0 0 0"><i class="fa fa-car margin-r-5"></i>车型
                            </p>
                            <strong>
                                {{ part.car_model.cn_name }}

                            </strong>


                            <hr>

                            <p class="text-muted" style="margin: 0 0 0"><i class="fa fa-commenting-o margin-r-5"></i>描述
                            </p>
                            <strong>
                                {{ part.description }}

                            </strong>

                            <hr>


                            <p class="text-muted" style="margin: 0 0 0"><i class="fa fa-calendar margin-r-5"></i>上一次修改日期
                            </p>
                            <strong>
                                {{ part.last_change_user.first_name }}--{{ part.last_change_date|date:"Y-m-d H:i:s" }}
                            </strong>
                        </div>
                    </div>


                </div>
                <!-- /.box-body -->
                <!-- /.box-footer -->
                <div class="box-footer">
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <div class="box box-widget">
                            <div class="box-header">
                                <p class="text-muted" style="margin: 0 0 0"><i class="fa fa-truck margin-r-5"></i>工厂价格
                                </p>
                            </div>

                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover" id="factory_price_list">
                                    <tbody>
                                    <tr>
                                        <th>工厂</th>
                                        <th>价格</th>
                                        <th>操作</th>
                                        <th>备注</th>
                                        <th>修改日期</th>
                                        <th>修改人</th>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div id="factory_price_list_bar">
                                {% include "partinfo/page_bar.html" %}
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <div class="box box-widget">
                            <div class="box-header">
                                <p class="text-muted" style="margin: 0 0 0"><i class="fa fa-ship margin-r-5"></i>客户价格
                                </p>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover" id="customer_price_list">
                                    <tbody>
                                    <tr>
                                        <th>客户</th>
                                        <th>价格</th>
                                        <th>操作</th>
                                        <th>备注</th>
                                        <th>修改日期</th>
                                        <th>修改人</th>

                                    </tbody>
                                </table>
                            </div>
                            <div id="customer_price_list_bar">
                                {% include "partinfo/page_bar.html" %}
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                </div>

                <!-- /.box-footer -->
            </div>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            getFactoryPriceInfo(1);
            getCustomerPriceInfo(1);
            $('#factory_price_list').delegate('.factory_price_delete', 'click', function () {
                deleteFactoryPriceInfo($(this).parent().find('input').val());
            });

            $('#factory_price_list').delegate('.factory_price_update', 'click', function () {
                var td = $(this).parents('.price_td');
                var price = td.prev().text();
                var desc = td.next().text();
                var id = td.find('input').val();
                updateFactoryPriceInfo(id, price, desc);

            });

            $('#customer_price_list').delegate('.customer_price_delete', 'click', function () {
                deleteCustomerPriceInfo($(this).parent().find('input').val());
            });

            $('#customer_price_list').delegate('.customer_price_update', 'click', function () {
                var td = $(this).parents('.price_td');
                var price = td.prev().text();
                var desc = td.next().text();
                var id = td.find('input').val();
                updateCustomerPriceInfo(id, price, desc);

            });

        })

        function getFactoryPriceInfo(page) {
            $.ajax({
                type: "GET",

                url: "{% url 'partsinfo:factory_price_list' %}?page=" + page + "&oem=" +{{ part.oem }},

                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    showFactoryPriceList(data.factory_price_list);
                    initPageBar(data.page_info,"factory_price_list_bar");

                }

            });
        }

        function showFactoryPriceList(data) {
            var factory_price_list = $('#factory_price_list');
            $('#factory_price_list tr:not(:first)').empty();

            for (var index in data) {
                var html = '<tr class = "info_tr">\n' +

                    '                            <td>' + data[index][2] + '</td>\n' +
                    '                            <td class="price_td_pr"><i class="fa  fa-cny margin-r-5"></i>' + data[index][3] + '</td>\n' +
                    '                            <td class="price_td">\n' +
                    '                                <div class="btn-group">\n' +
                    '<input type="hidden" value="' + data[index][4] + '">\n' +
                    '                                    <div style="float: left;margin-right: 5px" class="btn-xs btn-info factory_price_update" >修改</div>\n' +
                    '                                    <div style="float: left" class="btn-xs btn-danger factory_price_delete" >删除</div>\n' +
                    '                                </div>\n' +
                    '                            </td>\n' +
                    '                            <td class="price_td_ne">' + data[index][5] + '</td>\n' +
                    '                            <td>' + data[index][6] + '</td>\n' +
                    '                            <td>' + data[index][7] + '</td>\n' +
                    '                        </tr>';

                factory_price_list.append(html);

            }
        }


        function getCustomerPriceInfo(page) {
            $.ajax({
                type: "GET",

                url: "{% url 'partsinfo:customer_price_list' %}?page=" + page + "&oem=" +{{ part.oem }},

                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    showCustomerPriceList(data.customer_price_list);
                    initPageBar(data.page_info,"customer_price_list_bar");


                }

            });
        }

        function showCustomerPriceList(data) {

            var customer_price_list = $('#customer_price_list');
            $('#customer_price_list tr:not(:first)').empty();

            for (var index in data) {
                var html = '<tr class = "info_tr">\n' +
                    '                            <td>' + data[index][2] + '</td>\n' +
                    '                            <td class="price_td_pr"><i class="fa fa-dollar margin-r-5"></i>' + data[index][3] + '</td>\n' +
                    '                            <td class="price_td">\n' +
                    '                                <div class="btn-group">\n' +
                    '<input type="hidden" value="' + data[index][4] + '">\n' +
                    '                                    <div style="float: left;margin-right: 5px" class="btn-xs btn-info customer_price_update" >修改</div>\n' +
                    '                                    <div style="float: left" class="btn-xs btn-danger customer_price_delete" >删除</div>\n' +
                    '                                </div>\n' +
                    '                            </td>\n' +
                    '                            <td class="price_td_ne">' + data[index][5] + '</td>\n' +
                    '                            <td>' + data[index][6] + '</td>\n' +
                    '                            <td>' + data[index][7] + '</td>\n' +
                    '                        </tr>';

                customer_price_list.append(html);

            }


        }
    </script>
{% endblock %}