{% extends 'partinfo/base.html' %}

{% load staticfiles %}
{% block menu_baseinfo %}active menu-open{% endblock %}
{% block menu_part_list %}active{% endblock %}
{% block title %}配件列表{% endblock %}
{% block content-header %}配件信息{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-md-12">

            <div class="box box-widget">
                <div class="box-body box-profile">
                    <div class="col-md-1 ">
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#model_parts_add"><i class="fa fa-plus"> 添加</i></button>
                    </div>

                    <div class="col-md-6 pull-right">


                        <div class="input-group">
                                <span class="input-group-btn">
                              <div id="btn_search_txt_clear" class="btn btn-default btn-flat"><i
                                      class="fa fa-close"></i> </div>
                              </span>
                            <input type="text" id="search_key_word" name="search_key_word" placeholder="查询条件....."
                                   class="form-control">
                            <span class="input-group-btn">
                              <div class="btn btn-default btn-flat" id="btn_search"><i
                                      class="fa fa-search"></i> </div>
                              </span>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div id='part_list' class="row">

                {#                {% for parts in contacts.object_list %}#}
                {#                    <div class="col-md-3 col-sm-6 col-xs-12">#}
                {#                        <div class="info-box">#}
                {#                           <span class="info-box-icon">#}
                {#                               {% if parts.img != '' %}#}
                {#                               <img src="../../media/{{ parts.img }}" width="100%" height="90%">#}
                {#                               {% else %}#}
                {#                               <i class="fa fa-file-photo-o"></i>#}
                {#                               {% endif %}#}
                {#                           </span>#}
                {##}
                {#                            <div class="info-box-content">#}
                {#                                <span class="info-box-number">{{ parts.oem }}</span>#}
                {#                                <span class="info-box-text">{{ parts.cn_name }}</span>#}
                {#                                <span class="info-box-text">{{ parts.en_name }}</span>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                {% endfor %}#}

            </div>

            <div id="part_list_bar">
                {% include 'partinfo/page_bar.html' %}
            </div>
        </div>
        <!-- /.col -->
    </div>

    <div class="modal fade" id="model_parts_add" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">添加信息</h4>
                </div>
                <div class="modal-body">

                    <form action="#" method="post" id="add_parts_form">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="form-group">

                                <label>OEM</label>
                                <input type="text" class="form-control" name="txt_OEM" id="txt_OEM" placeholder="">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <label>车型</label>
                                <input type="text" class="form-control" name="txt_car_model" id="txt_car_model"
                                       placeholder="">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>中文品名</label>
                                <input type="text" class="form-control" name="txt_cn_name" id="txt_cn_name"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>英文品名</label>
                                <input type="text" class="form-control" name="txt_en_name" id="txt_en_name"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>描述</label>
                                <textarea class="form-control" rows="4" name="txt_area_desc" id="txt_area_desc"
                                          placeholder="....."></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>上传图片</label>
                                <input type="file" name="file_img" id="file_img">

                                <p class="help-block">图片格式BMP、JPG、JPEG、PNG、GIF</p>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" id="btn_parts_cancel" data-dismiss="modal">
                        <i class="fa fa-remove "> 取消</i></button>
                    <button type="submit" class="btn btn-primary" id="btn_parts_save"><i class="fa fa-check"> 保存</i>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}
{% block javascript %}

    <script>
        $(document).ready(function () {


            getPageInfo(1);

            $("#btn_search").click(function () {
                getPageInfo(1);
            })
            $("#btn_search_txt_clear").click(function () {
                $("#search_key_word").val("");
                getPageInfo(1);
            })
            $("#btn_parts_save").click(function () {
                var add_oem = $("#txt_OEM");
                if (add_oem.val() == "") {
                    add_oem.parent().addClass("has-error");
                    toastr.error('OEM 不能为空！');
                    return;
                }
                var file_img = $("#file_img");
                if (file_img.val() != '' && check_file_name_img(file_img.val())) {
                    toastr.error('请检查图片格式（格式BMP、JPG、JPEG、PNG、GIF等）!');
                    file_img.parent().addClass("has-error")
                    return;
                }
                var parts_form_data = new FormData($("#add_parts_form")[0])

                $.ajax({
                    type: "POST",
                    {#headers:{ "X-CSRFtoken":$("[name='csrfmiddlewaretoken']").val()},#}
                    url: "{% url 'partsinfo:add_parts_info' %}",
                    {#dataType:'',#}
                    data: parts_form_data,
                    async: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {


                        if (data == "success") {
                            $('#model_parts_add').modal('hide');
                            toastr.success('添加成功！2333');
                            getPageInfo(1);
                        } else if (data == 'info_exist') {

                            toastr.error('商品信息重复');
                            $("#txt_OEM").parent().addClass("has-error");
                        }
                        else {
                            toastr.error('添加失败 未知错误');
                        }

                    }

                });


            });
            $('#model_parts_add').on('hide.bs.modal', function () {

                $("#add_parts_form")[0].reset();

                var add_oem = $("#txt_OEM");
                if (add_oem.parent().hasClass("has-error")) {
                    add_oem.parent().removeClass("has-error");

                }
                var file_img = $("#file_img");

                if (file_img.parent().hasClass("has-error")) {
                    file_img.parent().removeClass("has-error");

                }

            });


        })


        function getPageInfo(page) {


            $.ajax({
                type: "GET",

                url: "{% url 'partsinfo:part_list' %}?page=" + page + "&q=" + $("#search_key_word").val(),

                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    showPartInfo(data.parts_list);
                    initPageBar(data.page_info, "part_list_bar", 'getPageInfo');


                }

            });
        }

        function showPartInfo(data) {
            var info_box = $('#part_list');
            info_box.empty();
            for (var index in data) {

                var html = ' <div class="col-md-3 col-sm-6 col-xs-12">\
                               <div class="info-box" style="min-height: 100px;">\
                                     ';

                var html2 = '<a style="color: #444;"  href="/baseinfo/part_detail/' + data[index].pk + '"><span class="info-box-icon" style="height: 100px;width: 100px;font-size: 50px;line-height: 0px"><img src="/media/' + data[index].fields.img + '" width="100%" height="100%">'

                var img = '<a style="color: #444;"  href="/baseinfo/part_detail/' + data[index].pk + '"><span class="info-box-icon" style="height: 100px;width: 100px;font-size: 50px;line-height: 100px;"><i class="fa fa-file-photo-o"></i>'
                var end = '</a></span>\
                                     <div class="info-box-content" style="margin-left: 100px" >\
                                            <a style="color: #444;"  href="/baseinfo/part_detail/' + data[index].pk + '"><span class="info-box-number">' + data[index].pk + '</span></a>\
                                            <span class="info-box-text">' + data[index].fields.cn_name + '</span>\
                                            <span class="info-box-text">' + data[index].fields.en_name + '</span>\
                                            <span class="info-box-text">' + data[index].fields.car_model + '</span>\
                                          </div>\
                                </div>\
                         </div>';
                if (data[index].fields.img == '') {
                    info_box.append(html + img + end);
                } else {
                    info_box.append(html + html2 + end);
                }

            }


        }


    </script>
{% endblock %}