{% extends 'partinfo/base.html' %}

{% load staticfiles %}
{% block menu_baseinfo %}active menu-open{% endblock %}
{% block menu_part_list %}active{% endblock %}
{% block title %}配件信息|{{ part.oem }}{% endblock %}
{% block content-header %}{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-md-12">
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="btn-xs btn-danger pull-right" id="btn_part_delete"><i class="fa fa-trash-o"></i></div>
                    <div class="btn-xs btn-primary pull-right" data-toggle="modal"
                         data-target="#model_parts_update" id="btn_part_update" style="margin-right: 5px"><i
                            class="fa fa-pencil-square-o"></i></div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-lg-6 col-sm-12 col-xs-12">
                        <div class="box-body">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                {#                                <ol class="carousel-indicators">#}
                                {#                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>#}
                                {#                                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>#}
                                {#                                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>#}
                                {#                                </ol>#}
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/media/{{ part.img }}"
                                             alt="First slide">

                                        <div class="carousel-caption">

                                        </div>
                                    </div>
                                    {#                                    <div class="item">#}
                                    {#                                        <img src="/media/{{ part.img }}"#}
                                    {#                                             alt="Second slide">#}
                                    {##}
                                    {#                                        <div class="carousel-caption">#}
                                    {##}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="item">#}
                                    {#                                        <img src="/media/{{ part.img }}"#}
                                    {#                                             alt="Third slide">#}
                                    {##}
                                    {#                                        <div class="carousel-caption">#}
                                    {##}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="fa fa-angle-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-xs-6">
                        <div class="box-body">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <strong><i class="fa fa-book margin-r-5"></i> OEM</strong>
                                    <p class="text-muted">{{ part.oem }}</p>
                                </li>
                                <li class="list-group-item">
                                    <strong><i class="fa fa-tags margin-r-5"></i> 中文品名</strong>
                                    <p class="text-muted"> {{ part.cn_name }}</p>
                                </li>
                                <li class="list-group-item">
                                    <strong><i class="fa fa-tags margin-r-5"></i> 英文品名</strong>
                                    <p class="text-muted"> {{ part.en_name }}</p>

                                </li>
                                <li class="list-group-item">

                                    <strong><i class="fa fa-car margin-r-5"></i> 车型</strong>
                                    <p class="text-muted">{{ part.car_model }}</p>

                                </li>


                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-6">
                        <div class="box-body">
                            <ul class="list-group list-group-unbordered">

                                <li class="list-group-item">

                                    <strong><i class="fa fa-commenting-o margin-r-5"></i> 描述</strong>
                                    <p class="text-muted">{{ part.description }}</p>
                                </li>


                            </ul>
                        </div>

                    </div>


                </div>
                <!-- /.box-body -->
                <!-- /.box-footer -->
                <div class="box-footer box-comments" style="padding: 0">
                    <span class=" text-muted pull-right" style="margin-right: 10px"><i
                            class="fa fa-clock-o"> {{ part.last_change_date|date:"Y-m-d" }}</i></span>
                    <span class=" text-muted pull-right" style="margin-right: 10px"><i
                            class="fa fa-user-plus"> {{ part.last_change_user.first_name }}</i></span>

                </div>
                <div class="box-footer">
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <div class="text-muted" style="margin: 0 0 0;float: left"><i
                                        class="fa fa-truck margin-r-5"></i>工厂价格
                                </div>
                                <div class="btn-xs btn-default" data-toggle="modal"
                                     data-target="#model_factory_price_add" style="float: left;margin-left: 10px;"><i
                                        class="fa fa-plus"></i></div>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i></button>

                                </div>
                            </div>

                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover" id="factory_price_list">
                                    <tbody>
                                    <tr>
                                        <th>工厂</th>
                                        <th>价格</th>
                                        <th>操作</th>
                                        <th>备注</th>
                                        <th>修改日期</th>
                                        <th>修改人</th>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div id="factory_price_list_bar">
                                {% include "partinfo/page_bar.html" %}
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <div class="box box-danger">
                            <div class="box-header">
                                <div class="text-muted" style="margin: 0 0 0;float: left"><i
                                        class="fa fa-ship margin-r-5"></i>客户价格
                                </div>
                                <div class="btn-xs btn-default" data-toggle="modal"
                                     data-target="#model_customer_price_add" style="float: left;margin-left: 10px;"><i
                                        class="fa fa-plus"></i></div>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i></button>
                                </div>

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover" id="customer_price_list">
                                    <tbody>
                                    <tr>
                                        <th>客户</th>
                                        <th>价格</th>
                                        <th>操作</th>
                                        <th>备注</th>
                                        <th>修改日期</th>
                                        <th>修改人</th>

                                    </tbody>
                                </table>
                            </div>
                            <div id="customer_price_list_bar">
                                {% include "partinfo/page_bar.html" %}
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                </div>

                <!-- /.box-footer -->
            </div>

        </div>
    </div>
    <div class="modal fade" id="model_factory_price_add" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">添加信息</h4>
                </div>
                <div class="modal-body">

                    <form action="#" method="post" id="add_factory_price_form">
                        {% csrf_token %}

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>产品</label>
                                <input type="text" readonly="readonly" name="select_parts" id="" class="form-control"
                                       value="{{ part.oem }}">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>工厂</label>
                                <select class="form-control select2" id="select_factory" name="select_factory"
                                        style="width: 100%;">
                                    <option></option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>价格</label>
                                <input type="number" min="0.0" step="0.1" class="form-control" name="num_price"
                                       id="num_factory_price"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>描述</label>
                                <textarea class="form-control" rows="4" name="txt_area_factory_price_desc"
                                          id="txt_area_factory_price_desc"
                                          placeholder="....."></textarea>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer no-border">
                    <button type="button" class="btn btn-default pull-left" id="btn_factory_price_cancel"
                            data-dismiss="modal">
                        <i class="fa fa-remove "> 取消</i></button>
                    <button type="submit" class="btn btn-primary" id="btn_factory_price_save"><i class="fa fa-check">
                        保存</i>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="model_customer_price_add" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">添加信息</h4>
                </div>
                <div class="modal-body">

                    <form action="#" method="post" id="add_customer_price_form">
                        {% csrf_token %}

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>产品</label>
                                <input type="text" readonly="readonly" name="select_parts" class="form-control"
                                       value="{{ part.oem }}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>客户</label>
                                <select class="form-control select2" id="select_customer" name="select_customer"
                                        style="width: 100%;">
                                    <option></option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>价格</label>
                                <input type="number" min="0.0" step="0.1" class="form-control" name="num_price"
                                       id="num_customer_price"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>描述</label>
                                <textarea class="form-control" rows="4" name="txt_area_customer_price_desc"
                                          id="txt_area_customer_price_desc"
                                          placeholder="....."></textarea>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer no-border">
                    <button type="button" class="btn btn-default pull-left" id="btn_customer_price_cancel"
                            data-dismiss="modal">
                        <i class="fa fa-remove "> 取消</i></button>
                    <button type="submit" class="btn btn-primary" id="btn_customer_price_save"><i class="fa fa-check">
                        保存</i>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="model_parts_update" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">修改信息</h4>
                </div>
                <div class="modal-body">

                    <form action="#" method="post" id="update_parts_form">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="form-group">

                                <label>OEM</label>
                                <input type="text" class="form-control" name="txt_OEM" id="txt_OEM" readonly="readonly"
                                       value="{{ part.oem }}" placeholder="">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <label>车型</label>
                                <input type="text" class="form-control" name="txt_car_model" id="txt_car_model" value="{{ part.car_model }}">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>中文品名</label>
                                <input type="text" class="form-control" value="{{ part.cn_name }}" name="txt_cn_name"
                                       id="txt_cn_name"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>英文品名</label>
                                <input type="text" class="form-control" value="{{ part.en_name }}" name="txt_en_name"
                                       id="txt_en_name"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>描述</label>
                                <textarea class="form-control" rows="6" name="txt_area_desc" id="txt_area_desc"
                                          placeholder=".....">{{ part.description }}</textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>上传图片</label>

                                <input type="file" name="file_img" id="file_img">

                                <p class="help-block">图片格式BMP、JPG、JPEG、PNG、GIF</p>
                                <label>删除原有图片 <input name="chb_delete_img" id="chb_delete_img" type="checkbox"
                                                     class="minimal"></label>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" id="btn_parts_cancel" data-dismiss="modal">
                        <i class="fa fa-remove "> 取消</i></button>
                    <button type="submit" class="btn btn-primary" id="btn_parts_update"><i class="fa fa-check"> 保存</i>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


{% endblock %}

{% block javascript %}
    <script src="{% static 'js/parts_factory_customer_model_select2.js' %}"></script>

    <script>
        $(document).ready(function () {
            getFactoryPriceInfo(1);
            getCustomerPriceInfo(1);
            $('input[type="checkbox"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            })

            $("#btn_part_delete").click(function () {

                $.confirm({
                    title: '提示',
                    content: '确定此条产品信息?',
                    animation: 'top',
                    closeAnimation: 'top',
                    animateFromElement: false,
                    buttons: {
                        cancel: {
                            text: '取消',
                        },
                        confirm: {
                            text: '删除',
                            btnClass: 'btn-danger',
                            action: function () {
                                $.ajax({
                                    type: "POST",
                                    headers: {"X-CSRFtoken": $.cookie('csrftoken')},
                                    url: "{% url 'partsinfo:delete_parts_info' %}",
                                    data: {'oem': "{{ part.oem }}"},

                                    success: function (data) {

                                        if (data == 'success') {
                                            window.location.reload();
                                        }
                                        else if (data == "object_not_found") {

                                            toastr.error('失败 没有找到删除对象');
                                        }

                                        else {
                                            toastr.error('没有权限');
                                        }

                                    }

                                });
                            }
                        }

                    }
                });
            })


            $("#btn_parts_update").click(function () {

                var file_img = $("#file_img");
                if (file_img.val() != '' && check_file_name_img(file_img.val())) {
                    toastr.error('请检查图片格式（格式BMP、JPG、JPEG、PNG、GIF等）!');
                    file_img.parent().addClass("has-error")
                    return;
                }
                var update_parts_form = new FormData($("#update_parts_form")[0])

                $.ajax({
                    type: "POST",
                    {#headers:{ "X-CSRFtoken":$("[name='csrfmiddlewaretoken']").val()},#}
                    url: "{% url 'partsinfo:update_parts_info' %}",
                    {#dataType:'',#}
                    data: update_parts_form,
                    async: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {


                        if (data == "success") {
                            $('#model_parts_update').modal('hide');
                            window.location.reload();

                        } else if (data == "object_not_found") {

                            toastr.error('未知错误');
                        }
                        else {
                            toastr.error('没有权限');
                        }

                    }

                });


            });
            $('#model_parts_update').on('hide.bs.modal', function () {

                $("#update_parts_form")[0].reset();

                var file_img = $("#file_img");

                if (file_img.parent().hasClass("has-error")) {
                    file_img.parent().removeClass("has-error");

                }

            });

        })

        function getFactoryPriceInfo(page) {
            $.ajax({
                type: "GET",

                url: "{% url 'partsinfo:factory_price_list' %}?page=" + page + "&oem={{ part.oem }}",

                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    showFactoryPriceList(data.factory_price_list);
                    initPageBar(data.page_info, "factory_price_list_bar", 'getFactoryPriceInfo');

                }

            });
        }

        function showFactoryPriceList(data) {
            var factory_price_list = $('#factory_price_list');
            $('#factory_price_list tr:not(:first)').empty();

            for (var index in data) {
                var html = '<tr class = "info_tr">\n' +

                    '<td><a style="color: #444;"  href="/baseinfo/factory_detail/' + data[index][8] + '">' + data[index][2] + '</a></td>\n' +
                    '                            <td class="price_td_pr"><i class="fa  fa-cny margin-r-5"></i>' + data[index][3] + '</td>\n' +
                    '                            <td class="price_td">\n' +
                    '                                <div class="btn-group">\n' +
                    '<input type="hidden" value="' + data[index][4] + '">\n' +
                    '                                    <div style="float: left;margin-right: 5px" class="btn-xs btn-primary factory_price_update" >修改</div>\n' +
                    '                                    <div style="float: left" class="btn-xs btn-danger factory_price_delete" >删除</div>\n' +
                    '                                </div>\n' +
                    '                            </td>\n' +
                    '                            <td class="price_td_ne">' + data[index][5] + '</td>\n' +
                    '                            <td>' + data[index][6] + '</td>\n' +
                    '                            <td>' + data[index][7] + '</td>\n' +
                    '                        </tr>';

                factory_price_list.append(html);

            }
        }

        function getCustomerPriceInfo(page) {
            $.ajax({
                type: "GET",

                url: "{% url 'partsinfo:customer_price_list' %}?page=" + page + "&oem={{ part.oem }}",

                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    showCustomerPriceList(data.customer_price_list);
                    initPageBar(data.page_info, "customer_price_list_bar", 'getCustomerPriceInfo');


                }

            });
        }

        function showCustomerPriceList(data) {

            var customer_price_list = $('#customer_price_list');
            $('#customer_price_list tr:not(:first)').empty();

            for (var index in data) {
                var html = '<tr class = "info_tr">\n' +
                    '                            <td><a style="color: #444;"  href="/baseinfo/customer_detail/' + data[index][8] + '">' + data[index][2] + '</a></td>\n' +
                    '                            <td class="price_td_pr"><i class="fa fa-dollar margin-r-5"></i>' + data[index][3] + '</td>\n' +
                    '                            <td class="price_td">\n' +
                    '                                <div class="btn-group">\n' +
                    '<input type="hidden" value="' + data[index][4] + '">\n' +
                    '                                    <div style="float: left;margin-right: 5px" class="btn-xs btn-primary customer_price_update" >修改</div>\n' +
                    '                                    <div style="float: left" class="btn-xs btn-danger customer_price_delete" >删除</div>\n' +
                    '                                </div>\n' +
                    '                            </td>\n' +
                    '                            <td class="price_td_ne">' + data[index][5] + '</td>\n' +
                    '                            <td>' + data[index][6] + '</td>\n' +
                    '                            <td>' + data[index][7] + '</td>\n' +
                    '                        </tr>';

                customer_price_list.append(html);

            }


        }
    </script>
{% endblock %}